{% extends "base.html" %}
{% block title %}
Sensors
{% endblock %}
{% block content %}
<body>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Farm</th>
      <th scope="col">ID</th>
      <th scope="col">Humidity</th>
      <th scope="col">Temperature</th>
    </tr>
  </thead>
{% for sensor in sensor_info %}
{% if sensor[1].Temp_C < 23.001 and sensor[1].Temp_C > 21.999 and sensor[1].Humidity < 50.001 and sensor[1].Humidity > 48.999 %}
    <tbody>
      <tr class="table-success">
      <th scope="row">{{sensor[0]}}</th>
      <th scope="row">{{sensor[1].sensor_id}}</th>
      <td>{{sensor[1].Humidity}}</td>
      <td>{{sensor[1].Temp_C}}</td>
    </tr>
    </tbody>
{% else %}
    <tbody>
      <tr class="table-danger">
      <th scope="row">{{sensor[0]}}</th>
      <th scope="row">{{sensor[1].sensor_id}}</th>
      <td>{{sensor[1].Humidity}}</td>
      <td>{{sensor[1].Temp_C}}</td>
    </tr>
  </tbody>
{% endif %}
{% endfor %}
</table>
    <h4>Fore more information on the specific sensors check the <a href = "status" style="color:blue">Status</a> page</h4>
{% endblock %}
</body>